body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f5f6fa;
  color: #2e4765;
}

/* ::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-thumb {
    background-color: #C79C3B;
    outline: none
} */
:root {
  --primary: #d97228;
  --secondary: #d93a28;
  --sideBarWidth: 85px;
}

/* ::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    outline: none
} */

p {
  font-weight: 300;
}

b,
strong {
  font-weight: 600;
}

.btn:focus,
button:focus,
*:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

/* button design starts here */

.myBtn {
  border-radius: 6px;
  padding: 7px 20px;
  border: none;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  transition: 0.4s ease all;
}

.myBtn svg {
  height: 18px;
}

.myBtn.squre {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
}

/* circle btns */
.circleBtn {
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  transition: 0.4s ease all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circleBtn + .circleBtn {
  margin-left: 10px;
}

.circleBtn svg {
  width: 45%;
}

.circleBtn:hover {
  color: #fff;
  border-color: var(--primary);
  background: var(--primary);
}

/* btn styles */

.myBtn.shadow {
  box-shadow: 0 5px 11px #d972285b !important;
}

.myBtn.shadow:hover {
  box-shadow: 0 0 0 #d972285b !important;
}

.myBtn.bdr {
  background: transparent;
  color: #38393c;
  border-color: #38393c;
}

.myBtn.bdr:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.myBtn.simple,
.circleBtn.simple {
  background: #ebeef6;
  border-color: #ebeef6;
  color: #38393c;
}

.myBtn.primary,
.circleBtn.primary {
  background: #ccf3ff;
  border-color: #ccf3ff;
  color: #1aa3de;
}

.myBtn.danger,
.circleBtn.danger {
  background: #ffc0c0;
  border-color: #ffc0c0;
  color: #e8435a;
}

.myBtn.success,
.circleBtn.success {
  background: #d4f6ee;
  border-color: #d4f6ee;
  color: #27d0b2;
}

.myBtn.pending,
.circleBtn.pending {
  background: #f9e3c5;
  border-color: #f9e3c5;
  color: #ea8e37;
}

/* hover */
.myBtn:hover,
.circleBtn:hover {
  color: #fff;
  border-color: var(--primary);
  background: var(--primary);
}

.myBtn.simple:hover,
.circleBtn.simple:hover {
  background: var(--primary);
  border-color: #fff;
}

.myBtn.primary:hover,
.circleBtn.primary:hover {
  background: #1aa3de;
  border-color: #1aa3de;
}

.myBtn.success:hover,
.circleBtn.success:hover {
  background: #27d0b2;
  border-color: #27d0b2;
}

.myBtn.danger:hover,
.circleBtn.danger:hover {
  background: #c60808;
  border-color: #c60808;
}

.myBtn.pending:hover,
.circleBtn.pending:hover {
  background: #ea8e37;
  border-color: #ea8e37;
}

.myBtn.gradient {
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--secondary),
    var(--primary)
  );
  background-size: 300% 100%;
}

.myBtn.gradient:hover {
  background-position: 100% 0;
}

/* text colors */
.text {
  font-size: 14px;
  font-weight: 500;
  color: #2e4765;
  white-space: nowrap;
  transition: 0.4s ease all;
}

a.text:hover {
  color: var(--primary);
}

.text span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translateY(-2px);
  margin-left: 10px;
  display: inline-block;
}

.text.primary {
  color: #1aa3de;
}

.text.danger {
  color: #e95b66;
}

.text.pending {
  color: #ea8e37;
}

.text.success {
  color: #27d0b2;
}

.text.primary span {
  background: #1aa3de;
}

.text.danger span {
  background: #e95b66;
}

.text.pending span {
  background: #ea8e37;
}

.text.success span {
  background: #27d0b2;
}

/* badges color */

.badge {
  font-size: 12px;
  border-radius: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 5px 12px;
}

.badge.primary {
  background: #ccf3ff;
  border: 1px solid #1aa3de;
  color: #1aa3de;
}

.badge.success {
  background: #d4f6ee;
  border: 1px solid #27d0b2;
  color: #27d0b2;
}

.badge.danger {
  background: #ffd9d9;
  border: 1px solid #e95b66;
  color: #e95b66;
}

.badge.pending {
  background: #f9e3c5;
  border: 1px solid #ea8e37;
  color: #ea8e37;
}

/* side bar starts here */

.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: var(--sideBarWidth);
  height: 100vh;
  background: #38393c;
  background-size: cover;
  background-position: center;
  z-index: 4;
  transition: 0.4s ease all;
}

.logoWrapper {
  width: 100%;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  width: 140px;
}

.logo img {
  width: 100%;
}

.menuListing {
  padding: 15px 0;
}

.mainMenu {
  /* max-height: calc(100% - 164px);
    min-height: calc(100% - 164px); */
  margin-bottom: auto;
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuListing ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuListing ul li .navItem {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  padding: 16px 10px;
  display: block;
  border-bottom: 1px solid #fff;
  opacity: 0.3;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease all;
}

.menuListing ul li .navItem i {
  width: 20px;
  display: block;
  margin: auto;
  transition: 0.4s ease all;
}

.menuListing ul li .navItem i svg {
  width: 100%;
}

.menuListing ul li .navItem:hover {
  color: #fff;
}

.dropdown-toggle::after {
  opacity: 0;
}

.menuListing ul li .navItem span {
  margin-top: 10px;
  display: block;
}

.menuListing ul li .navItem:hover {
  opacity: 1;
}

.menuListing ul li .navItem.active {
  color: #fff;
  opacity: 1;
  border-bottom: 1px solid var(--primary);
  background: var(--primary);
}

.menuListing ul li .navItem::after {
  /* content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 30px);
    transform: translateY(-50%) rotate(45deg);
    width: 0;
    height: 0;
    opacity: 0;
    border-left: 20px solid #ffffff;
    border-top: 20px solid transparent;
    margin: 0;
    transition: 0.4s ease all; */
}

.menuListing ul li .navItem.active::after {
  left: calc(100% - 10px);
  opacity: 1;
}

.logout {
  padding-top: 0;
  padding-bottom: 0;
  /* border-top: 1px solid #ffffff42; */
}

.logout ul li .navItem {
  background: var(--secondary);
  opacity: 1;
  border: none;

  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  padding: 16px 10px;
  display: block;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease all;
}

.logout ul li .navItem:hover {
  background: var(--primary);
}

/* nested side bar starts here */

.innerSidebar {
  position: absolute;
  top: 66px;
  left: calc(100% - 20px);
  z-index: 0;
  background: #efeef1;
  width: 300px;
  height: calc(100% - 66px);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  box-shadow: 3px 3px 20px #0003;
  transition: 0.4s ease all;
}

.innerSidebar.active {
  opacity: 1;
  left: 100%;
  pointer-events: all;
}

.sideBarHeader {
  background: #dddee6;
  padding: 15px;
}

.sideBarHeader h2 {
  font-size: 18px;
  font-weight: 700;
}

.sideBarHeader p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.sideBarBody {
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sideBarBody ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sideBarBody a {
  font-size: 16px;
  font-weight: 600;
  color: #38393c;
  display: block;
  padding: 10px 15px;
  padding-left: 33px;
  position: relative;
  transition: 0.4s ease all;
}

.sideBarBody a::after {
  content: "\f105";
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: 1px solid #5d6a78;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.4s ease all;
}

.sideBarBody a:hover::after {
  left: 6px;
}

/* .sideBarBody ul li+li {
    margin-top: 10px;
} */

.sideBarBody a:hover {
  color: var(--primary);
}

/* top bar starts here */
.topBar {
  position: fixed;
  z-index: 9;
  width: calc(100% - var(--sideBarWidth));
  left: var(--sideBarWidth);
  top: 0;
  transition: 0.4s ease all;
  background: #38393c;
}

.topBarInnwe {
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBar .navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topBar .navItem {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  padding: 9px 25px;
  opacity: 0.3;
  position: relative;
  transition: 0.4s ease all;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar li + li .navItem {
  border-left: 1px solid #fff;
}

.topBar .navItem i {
  width: 20px;
  height: 30px;
  display: block;
  margin: auto;
  position: relative;
}

.topBar .navItem:hover {
  opacity: 1;
}

.dropDown {
  position: relative;
}

.dropDownWrapper {
  position: absolute;
  top: calc(100% - 15px);
  left: 0;
  padding: 0 14px;
  background: transparent;
  width: auto;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease all;
  overflow: hidden;
}

.dropDownWrapper::before,
.dropDownWrapper::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0;
  left: calc(100% - 14px);
  height: 47px;
  width: 14px;
  border-top-left-radius: 25px;
  box-shadow: 0 -14px 0 0 #38393c;
}

.dropDownWrapper::before {
  left: auto;
  right: calc(100% - 14px);
  border-top-left-radius: 0;
  border-top-right-radius: 25px;
}

.dropDown:hover .dropDownWrapper,
.dropDown:hover .navItem,
.mainDropdown:hover .navItem {
  pointer-events: all;
  opacity: 1;
}

.dropDown:hover .dropDownWrapper {
  top: 100%;
}

.dropDownWrapper ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  background: #38393c;
  border-radius: 0 0 10px 10px;
}

.dropDownWrapper ul a {
  white-space: nowrap;
  padding: 7px 20px;
  display: block;
  color: #fff;
  font-size: 15px;
}

.dropDownWrapper ul a i {
  display: none;
}

.buildings > a {
  height: 100%;
  background: var(--primary);
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.buildings > a i {
  width: 20px;
}

.buildings > a span {
  margin: 0 10px;
}

.mainDropdown {
  position: relative;
}

.customDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 320px;
  overflow: hidden;
  border-radius: 10px;
  background: #efeef1;
  max-height: calc(100vh - 120px);
  box-shadow: 3px 3px 20px #0003;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease all;
}
.customDropdown.show {
  opacity: 1;
  pointer-events: all;
}
.mainDropdown .arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 0;
  height: 0;
  border-left: 20px solid #ffffff;
  border-bottom: 20px solid transparent;
  opacity: 0;
  transition: 0.4s ease all;
}

.dropdownHead {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #7070701c;
}

.dropdownHead svg {
  height: 17px;
  float: left;
  margin-top: 3px;
}

.dropDownContent {
  overflow-y: scroll;
  height: 250px;
}

.dropDownContentCard {
  overflow-y: scroll;
  height: 150px;
}
/* .dropDownContent::-webkit-scrollbar {
    width: 0.2em;
}

.dropDownContent::-webkit-scrollbar-thumb {
    background-color:var(--primary);
    outline: none
} */

.dropDownContent::-webkit-scrollbar,
.commentLogs::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  transition: 0.4s ease all;
}

.dropDownContent:hover::-webkit-scrollbar,
.commentLogs:hover::-webkit-scrollbar {
  width: 4px;
  transition: 0.4s ease all;
}

.dropDownContent::-webkit-scrollbar-thumb,
.commentLogs::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: 0.4s ease all;
}

.dropDownContent:hover::-webkit-scrollbar-thumb,
.commentLogs:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  transition: 0.4s ease all;
}

.dropDownContentCard::-webkit-scrollbar {
  width: 4px;
  transition: 0.4s ease all;
}

.dropDownContentCard::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; */
}

.dropDownContentCard::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
  transition: 0.4s ease all;
}

@media (hover: none) {
  .dropDownContent::-webkit-scrollbar,
  .commentLogs::-webkit-scrollbar {
    width: 4px;
  }

  .dropDownContent::-webkit-scrollbar-thumb,
  .dropDownContentCard::-webkit-scrollbar-thumb,
  .commentLogs::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }
}

.dropDownContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropDownContent a {
  color: #38393c;
  background: #efeef1;
  display: block;
  padding: 15px;
  position: relative;
  transition: 0.4s ease all;
}

.dropDownContent a + a {
  border-top: 1px solid #7070701c;
}

.dropDownContent a:hover {
  background: #fff;
}

.dropDownContent a h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--primary);
}

.dropDownContent a h2 span {
  float: right;
}

.dropDownContent a p {
  font-size: 12px;
  font-weight: 400;
  color: #2e4765;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

/* .mainDropdown:hover .customDropdown,
.mainDropdown:hover .arrow {
    opacity: 1;
    pointer-events: all;
} */

.topBar .navItem .dot {
  position: absolute;
  width: 6px;
  height: 6px;
  display: block;
  top: 3px;
  right: 0px;
  background: #ff846e;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #38393c, 0 0 0 #fff;
}

.notificationDropdown {
  left: auto;
  right: -30px;
  width: 360px;
}

.notifications a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications a .userImg {
  flex: 0 0 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.notifications a .userImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notifications a h2 {
  margin: 0;
}

.dropDownContent a span {
  font-size: 11px;
  color: #afafaf;
  font-weight: 400;
}

.dropDownContent .new {
  position: relative;
  box-shadow: 0 9px 10px #75757547;
  z-index: 1;
}

.dropDownContent .new::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 4px;
  height: calc(100% + 2px);
  background: var(--primary);
}

/* profile image sections */

.profile {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}

.profile.dark {
  color: #2e4765;
}

.profileImg {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***************************
login auth pages starts here 
****************************/

.authSection {
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--sideBarWidth);
}

.authSection > .row {
  height: 100%;
}

.loginForm {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  width: 430px;
  padding: 30px;
  margin: auto;
  max-width: 100%;
}

.loginForm h2 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 700;
}

.loginForm .myBtn {
  width: 100%;
  border-radius: 50px;
}

.loginForm .form-control {
  border-radius: 50px;
  height: 44px;
  font-size: 16px;
  color: #2e4765;
}

.innerWrapper {
  width: 100%;
}

.logoLine {
  margin: 20px 0;
}

.formIcon .form-control {
  text-indent: 40px;
  transition: 0.4s ease all;
}

.formIcon .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(217 110 40 / 28%);
  border-color: var(--primary);
}

.acceptTerm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.acceptTerm label {
  margin: 0;
}

.acceptTerm a {
  color: #9a9a9a;
}

.acceptTerm a:hover {
  color: var(--primary);
}

.formIcon {
  position: relative;
}

.formIcon .icon {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px 0 0 50px;
  transition: 0.4s ease all;
}

.formIcon .icon svg {
  width: 45%;
}

.loginForm input:focus + .icon {
  background: var(--primary);
  color: #fff;
}

.loginBg {
  background: url("../src/assets/images/authBg.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.authSideWrapper {
  max-width: 100%;
  text-align: center;
  height: 100%;
  width: 430px;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
}

.authSideWrapper p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.logoLine,
.logoWhite {
  width: 270px;
  margin: auto;
  margin-bottom: 20px;
}

.logoLine img,
.logoWhite img {
  width: 100%;
}

.logoWhite img {
  filter: brightness(0) invert(1);
}

/***********************
page warpper starts here 
************************/
.pageWrapper {
  width: calc(100% - var(--sideBarWidth));
  margin-left: var(--sideBarWidth);
  min-height: 100vh;
  z-index: 2;
  position: relative;
  padding: 0 15px 15px 30px;
  overflow: hidden;
  padding-top: 95px;
  background: #f5f6fa;
}
/* .commentsWrapper{
    width: calc(100% - var(--sideBarWidth));
    margin-left: var(--sideBarWidth);
    min-height: 100vh;
    z-index: 2;
    position: relative;
    padding: 0 15px 15px 30px;
    overflow: hidden;
    background: #F5F6FA;
} */

.contentCard {
  position: relative;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 30px;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}

.pageWrapper.cardControl {
  height: 100vh;
}

.cardControl .contentCard {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.contentCard.dark {
  background: #38393c;
  color: #fff;
}

.splitCard {
  margin: 15px -30px;
  border-top: 1px dashed #dbdbdb;
}

.cardFooter {
  padding: 30px;
  margin: 20px -30px;
  margin-bottom: -30px;
  border-top: 1px dashed #dbdbdb;
}

.pageTitle {
  margin-bottom: 15px;
}

.pageTitle h2 {
  color: #2e4765;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modalTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
  color: var(--primary);
}

.pageTitle h2 b {
  font-weight: 800;
}

.pageTitle p {
  color: #b6c5d8;
  margin-bottom: 0;
}

.titleWrapper {
  position: relative;
  margin-left: -50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.titleWrapper span {
  display: inline-block;
  background: var(--primary);
  color: #fff;
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
  padding: 7px 50px;
  position: relative;
}

.titleWrapper span::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 20px solid #b45f22;
  border-left: 20px solid transparent;
  left: 0;
  top: 100%;
}

.titleWrapper div {
  margin-left: auto;
}

/* small card */

.contentCard.small {
  padding: 15px;
}

.contentCard.small .titleWrapper {
  margin-left: -35px;
}

.contentCard.small .splitCard {
  margin: 10px -15px;
}

.contentCard.small .cardFooter {
  padding: 15px;
  margin: 20px -15px;
  margin-bottom: -15px;
}

/* table design starts here */

.mainTable table thead tr,
.shadowTable table thead tr {
  background: #606071;
  color: #fff;
}

.mainTable table thead th,
.shadowTable table thead th {
  border-bottom: none;
  font-weight: 500;
  border: none;
}

.mainTable table thead th:first-child {
  border-top-left-radius: 15px;
}

.mainTable table thead th:last-child {
  border-top-right-radius: 15px;
}

.mainTable td,
.mainTable th,
.shadowTable td,
.shadowTable th {
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  font-weight: 400;
  border: none;
  vertical-align: middle;
}

.mainTable .table-striped tbody tr:nth-of-type(odd) {
  background: #f8fafb;
}

.mainTable .table-striped tbody tr.highlighted {
  background: #fff9ef;
}

.shadowTable {
  padding: 0 7px;
  margin-left: -7px;
  width: calc(100% + 14px);
}

.shadowTable table {
  border-collapse: separate;
  border-spacing: 0 16px;
}

.shadowTable table tbody tr {
  background: #ffffff;
  box-shadow: 0 6px 10px #a4b4d940;
  border-radius: 15px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.shadowTable table th:first-child,
.shadowTable table td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.shadowTable table th:last-child,
.shadowTable table td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.shadowTable tbody tr:hover {
  background: #f8fafb;
  box-shadow: 0 0 0 #a4b4d940;
}

/* table sorting starts here */

.dataTable table thead th.sort {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.dataTable table thead th.sort::before,
.dataTable table thead th.sort::after {
  content: "\f0d8";
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(1);
  color: #fff;
  margin-top: -4px;
  opacity: 0.4;
  transition: 0.3s cubic-bezier(0.89, -0.07, 0.25, 1) all;
}
.dataTable table thead th.sort::after {
  content: "\f0d7";
  margin-top: 4px;
}

.dataTable table thead th.sort:hover::before,
.dataTable table thead th.sort:hover::after {
  transform: translateY(-50%) scale(1.3);
  color: var(--primary);
  opacity: 1;
}

.dataTable table thead th.sort:hover::before {
  margin-top: -4.5px;
}

.dataTable table thead th.sort:hover::after {
  margin-top: 4.5px;
}

/**/
span.sort {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  margin-left: 10px;
}

span.sort::before,
span.sort::after {
  content: "\f0d8";
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(1);
  color: #fff;
  margin-top: -4px;
  opacity: 0.4;
  transition: 0.3s cubic-bezier(0.89, -0.07, 0.25, 1) all;
}
span.sort::after {
  content: "\f0d7";
  margin-top: 4px;
}

span.sort:hover::before,
span.sort:hover::after {
  transform: translateY(-50%) scale(1.3);
  color: var(--primary);
  opacity: 1;
}

span.sort:hover::before {
  margin-top: -4.5px;
}

span.sort:hover::after {
  margin-top: 4.5px;
}

/**/

.dataTable table thead th.dessending::before {
  opacity: 1;
}

.dataTable table thead th.assending::after {
  opacity: 1;
}

/* action btn */

.actionEclips {
  position: relative;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.actionEclips::before {
  display: none !important;
}

.actionEclips span {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #9a9a9a;
  border-radius: 50%;
  border: none;
}

.actionEclips span + span {
  margin-top: 2px;
}

.dropDesign {
  border-color: #d5d5d5;
}

.dropDesign a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 20px;
  color: #212529;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  border: 0;
  transition: 0.4s ease all;
}

.dropDesign a + a {
  border-top: 1px solid #efefef;
}

.dropDesign a:hover {
  background: #f8fafb;
}

.dropDesign a span {
  width: 12px;
  display: inline-block;
  color: var(--primary);
  margin-left: 10px;
}

/* tabs starts here */
.tabsSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.customTabs .nav-link {
  background: #e1e5e8;
  color: #2e47659e;
  font-size: 14px;
  border-radius: 7px 7px 0 0;
  font-weight: 600;
  padding: 15px 30px;
  transition: 0.4s ease all;
}

.customTabs li + li .nav-link {
  margin-left: 10px;
}

.customTabs .nav-link.active {
  background: #fff;
  color: #2e4765;
}

.tabsSection ~ .contentCard,
.tab-content .contentCard,
.noRadius.contentCard {
  border-top-left-radius: 0;
}

/* search starts here */
.filters {
  margin-bottom: 20px;
  display: none;
}

.filters .sectionTitle {
  margin: 0;
}

.searchField {
  position: relative;
}

.searchField input,
.filters .form-control {
  border-radius: 5px;
  height: 34px;
  box-shadow: 0 4px 18px #84676740;
  font-size: 14px;
  color: #2e4765;
  transition: 0.4s ease all;
}

.searchField input {
  text-indent: 30px;
}

.searchField .icon {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  transition: 0.4s ease all;
}

.filters .form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 4px 7px #d9722840;
}

.searchField input:focus + .icon {
  background: var(--primary);
  color: #fff;
}

.searchField .icon svg {
  width: 45%;
}

/* form design starts here */

.formDesign .form-control {
  background: #eef2f6;
  border: 1px solid #b4b4b463;
  padding: 6px;
  height: 40px;
  box-shadow: none;
  transition: 0.4s ease all;
  text-indent: 10px;
}

.formDesign textarea.form-control {
  height: auto;
  resize: none;
}

.formDesign .form-control:focus {
  border-color: var(--primary);
}

.formDesign label {
  color: #38485a;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

/* toggle like design */

.toggleLike {
  display: inline-block;
  stroke: #89919b;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-bottom: 0;
  transition: 0.4s ease all;
}

.toggleLike svg {
  width: 20px;
  color: transparent;
  transition: 0.4s ease all;
}

.toggleLike input {
  display: none;
}

.toggleLike input:checked + svg {
  color: var(--primary);
  stroke: var(--primary);
}

.dropleft .toggleLike {
  transform: translateY(-3px);
}

/* toogle btn starts here */

.toggleBtn input[type="checkbox"] {
  display: none;
}

.toggleBtn label {
  background: #b2b2b2;
  color: #848484;
  width: 50px;
  height: 18px;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.toggleBtn label:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #ececec;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 1px 4px 0px #2d2d2d59;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
}

.withLable label {
  margin-right: 22px;
}

.toggleBtn input:checked + label:before {
  left: 25px;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
}

.toggleBtn input + label span {
  font-size: 10px;
  display: inline;
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.toggleBtn.withLable input:checked + label span.off {
  display: none;
}

.toggleBtn.withLable input:checked + label span.on {
  display: inline;
  color: var(--primary);
}

.toggleBtn.withLable input + label span.on {
  display: none;
}

.toggleBtn.withLable input + label span.off {
  display: inline;
}

.toggleBtn input:checked + label {
  background: var(--primary);
}

/* custom checkbox design */

.customCheck,
.customRadio {
  position: relative;
  margin: 0 4px;
  position: relative;
  top: 2px;
}

.customCheck::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  transition: 0.4s ease all;
  cursor: pointer;
  border: 1px solid #9a9a9a;
}

.customCheck::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 14px;
  border: 1px solid transparent;
  box-shadow: 0 0px 0px 0 #ffffff;
  border-top: none;
  border-left: none;
  cursor: pointer;
  transition: 0.4s ease all;
}

.customCheck:checked:after {
  top: 20%;
  left: 80%;
  border-color: var(--primary);
  border-width: 2px;
  background: #ffffff;
  box-shadow: 2px 0px 0px 3px #ffffff;
  width: 6px;
  transform: translate(-50%, -60%) rotate(45deg);
}

.customCheck:checked:before,
.customRadio:checked:before {
  background: #ffffff;
  border-color: var(--primary);
}

/* custom radio */
.customRadio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease all;
}

.customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-top: none;
  border-left: none;
  transition: 0.4s ease all;
  cursor: pointer;
}

.customRadio:checked:after {
  border-color: #ffffff;
  border-width: 2px;
  width: 5px;
  transform: translate(-50%, -60%) rotate(45deg);
}

.customRadio:checked:before {
  background: var(--primary);
}

/* modal design starst here */
.modal-open section,
.mobileNavOpen section {
  filter: blur(4px) grayscale(30%);
}

.modal-backdrop {
  background-color: #ffffff52;
}

.customModal {
  border: none;
  box-shadow: 0 17px 40px #65656582;
}

.customModal .modal-header {
  border: none;
  padding: 20px 30px;
}

/* extra lagre modal */

@media (min-width: 992px) {
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 576px) {
  .modal-xl {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1100px;
  }
}

/* ToolTip starts here */

.toolTip {
  position: relative;
}

.toolTip[data-title]::before {
  content: attr(data-title);
  position: absolute;
  bottom: calc(100% - 0.5em);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  color: #f5f6f8;
  background: #2e4765;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  transition: 0.4s ease all;
  opacity: 0;
}

.toolTip[data-title]::after {
  content: "";
  position: absolute;
  border-width: 0.5rem 0.5rem 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #2e4765;
  bottom: calc(100% - 1em);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.4s ease all;
}

.toolTip:hover::before,
.toolTip:hover::after {
  opacity: 1;
}

.toolTip:hover::before {
  bottom: calc(100% + 0.5em);
}

.toolTip:hover::after {
  bottom: 100%;
}

/* building detials starts here */

.detailContent + .detailContent {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #dbdbdb;
}

.dark .detailContent + .detailContent {
  border-top: 1px dashed #fff;
}

.detailContent h2 {
  font-size: 18px;
  font-weight: 700;
}

.detailContent h4 {
  font-size: 14px;
  font-weight: 500;
}

.actionBtns {
  display: flex;
  align-items: center;
}

.detailContent .circleBtn {
  color: #fff;
  border: 1px solid #fff;
}

/* comments design starts here */
.commentLogs {
  max-height: 353px;
  overflow: auto;
}

.comment {
  padding: 14px;
  border: 1px solid #b4b4b463;
  background: #eef2f6;
  border-radius: 4px;
  margin-top: 15px;
}

.comment h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--primary);
}

.comment h2 span {
  float: right;
}

.comment h2 span {
  font-size: 11px;
  color: #afafaf;
  font-weight: 400;
}

.comment p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.comment p span {
  border: 1px solid #7070707a;
  padding: 2px 10px;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  font-weight: 700;
}

/* bottom nav starts here */
.menuBtn {
  position: relative;
}

.showThis {
  display: none;
}

.menuBtn svg {
  width: 48px;
  margin: -11px -11px;
}

.ham {
  transition: transform 400ms;
  width: 100%;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 20 139;
}

.ham1 .bottom {
  stroke-dasharray: 20 180;
}

.active .hamRotate .top {
  stroke-dashoffset: -98px;
}

.active .hamRotate {
  transform: rotate(45deg);
}

.active .hamRotate .bottom {
  stroke-dashoffset: -159px;
}

.bottomNav {
  position: fixed;
  z-index: 222;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: none;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s ease all;
}

.bgClose {
  background: #0808083b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navContainer {
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: #38393c;
  padding: 15px 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -4px 14px #1010107a;
  transition: 0.4s ease all;
}

.navContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navContainer li + li a {
  border-top: 1px solid #3e3e3e;
}

.navContainer a {
  font-size: 14px;
  color: #fff !important;
  display: block;
  padding: 10px 15px;
  position: relative;
}

.navContainer a i {
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.navContainer .navItem::after {
  content: "\f105";
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  border: 1px solid #5d6a78;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.4s ease all;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
}

.navHeader .logo {
  width: 110px;
}

.closeThis {
  width: 23px;
  color: #fff;
}

.navHeader h2 {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.innerMenuContainer {
  position: absolute;
  top: 15px;
  left: 100%;
  background: #38393c;
  width: 100%;
  z-index: 23;
  height: 100%;
  transition: 0.4s ease all;
}

/* open nav styles starts here */

.bottomNav.active {
  opacity: 1;
  pointer-events: all;
}

.bottomNav.active .navContainer {
  bottom: 0;
}

.innerMenuContainer.active {
  left: 0;
}

/* profile page starts here  */
.profileSide {
  text-align: center;
  padding: 15px;
}

.profileSide .profileImg {
  width: 100px;
  height: 100px;
  margin: auto;
}

.profileSide .myBtn {
  margin: 20px 0;
}

.profileSide p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

/* media queires starts here  */

@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1199px) {
  .profile {
    font-size: 12px;
  }

  .menuListing ul li .navItem i {
    width: 16px;
  }

  .topBar .navItem i {
    width: 16px;
    height: 24px;
  }

  .detailContent h2,
  .sectionTitle {
    font-size: 16px;
  }

  .topBar .navItem {
    padding: 9px 20px;
  }
}

@media (max-width: 991px) {
  :root {
    --sideBarWidth: 75px;
  }

  .titleWrapper span {
    font-size: 14px;
  }

  .sectionTitle {
    font-size: 16px;
  }

  .topBar .navItem {
    padding: 6px 18px;
  }

  .buildings > a span {
    margin-right: 0;
  }

  .buildings > a i.fa {
    display: none;
  }

  .menuListing ul li .navItem {
    padding: 16px 8px;
  }

  .topBar .navItem {
    /* padding: 6px 15px; */
    padding: 6px 10px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .showThis {
    display: block;
  }

  .hideThis {
    display: none;
  }

  .topBar .navItem {
    padding: 10px 15px;
  }

  .navList .profileImg {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }

  .bottomNav {
    display: block;
  }

  .bottomNav.active {
    opacity: 1;
  }

  /* form design  */
  .formDesign .form-control {
    height: 34px;
  }

  .contentCard {
    padding: 15px;
  }

  .titleWrapper {
    margin-left: -35px;
  }

  .splitCard {
    margin: 10px -15px;
  }

  .cardFooter {
    padding: 15px;
    margin: 20px -15px;
    margin-bottom: -15px;
  }

  /* login page starts here */
  .authSection {
    overflow-y: auto;
  }

  .authSection > .row {
    min-height: 100%;
  }

  .loginForm h2 {
    margin-bottom: 20px;
  }

  .logoLine,
  .logoWhite {
    width: 220px;
  }

  .loginForm {
    min-height: 100vh;
  }

  .loginForm,
  .authSideWrapper {
    padding: 30px 15px;
  }

  .buildings > a i.fa {
    display: block;
  }
}

@media (max-width: 576px) {
  .topBarInnwe {
    padding: 0;
  }

  .topBar .navItem {
    padding: 5px 10px;
  }

  .menuBtn svg {
    width: 36px;
    margin: -4px -8px;
  }

  .buildings > a {
    padding: 0 7px;
  }

  .buildings > a i {
    width: 15px;
  }
}

/* temp map */

.mapImg {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 13px;
}

.mapImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* theme styles starts here */

.iconsWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.iconsWrapper span {
  color: #2e4765;
  flex: 0 0 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s ease all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconsWrapper span:hover {
  color: var(--primary);
}

.iconsWrapper span + span {
  margin-left: 30px;
}

.iconsWrapper span svg {
  max-width: 100%;
  max-height: 100%;
}

.getThis {
  cursor: pointer;
}

.cardDec {
  border: none;
  border-radius: 15px;
  box-shadow: 1px 10px 8px #ececec;
  /* display: none; */
}

.titleCard {
  background: var(--primary);
  color: #f5f6fa;
  padding: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
